section#main {
	background-color: #a400ae;
	height: 100vh;
}
h1 {
	color: black;
	text-transform: uppercase;
}
.main_header {
	margin-top: 25%;
}
section#icons {
	margin-top: 5px;
}
section#example {
	height: 100vh;
	padding-top: 200px;
}
.main_elem {
	height: 100px;
	border: 2px solid #000;
}
.box_in {
	height: 50px;
	border: 2px dashed #000;
	background-color: green;
}